@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@form-grey: #f2f2f2;
@header-grey: rgb(90, 88, 88);
#mapid {
        height:400px; 
        min-width:100px;
        width:auto;
  } 

body {
	padding: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

.form-group{
    font-family: 'Raleway', sans-serif;
}

.card {
    min-width:400px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    background-color: @form-grey;
}

.form-check-input, .form-check-label{
    margin:0 10px 0 10px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: aliceblue;
}
