@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@form-grey: #f8f5f5;
@header-grey: rgb(90, 88, 88);
#mapid {
    height:400px; 
    min-width:100px;
    width:auto;
} 

body {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    min-width:400px;
}


.Home{
    padding:10em;
    min-width:600px;
    text-align: center;
}
.navbar{
    max-width:90%;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 2em;
    background-color: @form-grey;
}
.navbar-brand{
    margin: auto;
    text-align: justify;
}
.form-group{
    font-family: 'Raleway', sans-serif;
}

.card {
    max-width:90%;
    padding: 3em;
    margin: auto;
    background-color: @form-grey;
}

.card-header{
    margin-left: 10px;
    margin-bottom: 10px;
}
.form-check-input, .form-check-label{
    margin:0 10px 0 10px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: aliceblue;
}


p{
    padding: 5px;
    margin-left: 3px;
}

a{
    margin:5px;
}

button{
    margin: 5px;
}
// tr {display: block; }
// th, td { min-width: 30px;}

// table { display: block; height: 300px; overflow: auto;} 

input{
    padding:10px;
}

.Email{
    padding: 10px;
}
