extends layout

block content
    body.container-fluid
        .Home
            .card
                .card-header
                    h1 Contact Book
                .card-body
                    .row
                    p Welcome to the Contact Book! Additional features can be found within the following properties:
                    .row
                        a(href="/mailer" class="btn btn-primary" role="button") Create A New Contact
                        a(href="contacts" class="btn btn-primary" role="button") View Your Contacts

                            
